RESEND_API_KEY=your_resend_api_key_here
RESEND_SEGMENT_ID=your_segment_id_here
ADMIN_EMAIL=hello@aris.pub
BSKY_HANDLE=your.handle.bsky.social
BSKY_PASSWORD=your_app_password_here
LINKEDIN_CLIENT_ID=your_linkedin_app_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_app_client_secret
