---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.description }}</subtitle>
    <link href="{{ metadata.url }}/feed.xml" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.edition | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}/</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- set feedItems = collections.edition | mergedFeed(collections.post) %}
    {%- for item in feedItems %}
    {%- set absoluteItemUrl = item.url | absoluteUrl(metadata.url) %}
    <entry>
        {%- if item.data.number %}
        <title>{{ metadata.title }} No. {{ item.data.number | padStart(3) }}{% if item.data.title %}: {{ item.data.title }}{% endif %}</title>
        {%- else %}
        <title>{{ metadata.title }} / {{ metadata.postSeriesName }}: {{ item.data.title }}</title>
        {%- endif %}
        <link href="{{ absoluteItemUrl }}"/>
        <updated>{{ item.date | dateToRfc3339 }}</updated>
        <id>{{ absoluteItemUrl }}</id>
        <content type="html">{{ item.content | htmlToAbsoluteUrls(absoluteItemUrl) }}</content>
    </entry>
    {%- endfor %}
</feed>
