---
layout: base.njk
pageTitle: Subscribed
description: "You're subscribed to The Hallway Track."
---

<div class="subscribed">
    <h1>Subscribed.</h1>
    <p>You'll receive The Hallway Track weekly.</p>
    <p><a href="/">Back to The Hallway Track</a></p>
</div>
